* {
    font-size: 14px;
    --co-scrollbar-width: 10px; // 滚动条宽度
}

:focus-visible {
    outline: unset;
}

// element-plus 滚动条样式
.el-scrollbar {
    .el-scrollbar__bar {
        z-index: 5;

        &.is-vertical {
            width: var(--co-scrollbar-width);
        }

        &.is-horizontal {
            height: var(--co-scrollbar-width);
        }
    }
}

// 下拉菜单样式
.el-dropdown-menu {
    .el-dropdown-menu__item {
        &.el-dropdown-menu__item-active {
            background-color: var(--el-dropdown-menuItem-hover-fill);
            color: var(--el-dropdown-menuItem-hover-color);
        }
    }
}


.el-cascader-panel{
    .el-cascader-node__postfix{ // 级联选择器展开箭头，样式层级不对情况
        position: absolute;
    }
}
